<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mymeds">
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permisos de Internet (necesario para cargar el mapa) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permisos de ubicación (para mostrar la ubicación del usuario) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />

    <!-- Feature de Google Maps (opcional pero recomendado) -->
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMeds">

        <!-- API Key de Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAeAshcyIaxXOjyu6ve5vbPaE7rCs1wF-Q" />

        <!-- LoginActivity será la primera pantalla -->
        <activity
            android:name=".views.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MyMeds">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.DeliveryActivity"
            android:exported="false"
            android:theme="@style/Theme.MyMeds" />

        <!-- Pantalla de registro -->
        <activity
            android:name=".views.RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.MyMeds" />
        <!-- PharmacyInventory -->
        <activity
            android:name=".views.PharmacyInventoryActivity"
            android:exported="false"
            android:theme="@style/Theme.MyMeds" />

        <!-- HomeActivity -->
        <activity
            android:name=".views.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.MyMeds" />

        <!-- MapActivity -->
        <activity
            android:name=".views.MapActivity"
            android:exported="true"
            android:theme="@style/Theme.MyMeds" />

        <!-- Pantalla de recuperación de contraseña -->
        <activity
            android:name=".views.PasswordResetActivity"
            android:exported="true"
            android:theme="@style/Theme.MyMeds" />

        <!-- Pantalla de perfil -->
        <activity
            android:name=".views.ProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.MyMeds" />

        <!-- Subir prescripción (Home) -->
        <activity android:name=".views.UploadPrescriptionActivity"
            android:exported="true"
            android:theme="@style/Theme.MyMeds"/>

        <!-- NFC (usa enableReaderMode; sin filters) -->
        <activity android:name=".views.UploadByNfcActivity"
            android:exported="true"
            android:theme="@style/Theme.MyMeds"/>
        <!-- Imagen y PDF -->
        <activity android:name=".views.UploadPrescriptionPhotoActivity"
            android:exported="true"
            android:theme="@style/Theme.MyMeds"/>
        <activity android:name=".views.UploadPrescriptionPDFActivity"
            android:exported="true"
            android:theme="@style/Theme.MyMeds"/>
        <activity android:name=".views.OrdersManagementActivity"
            android:exported="true"
            android:theme="@style/Theme.MyMeds"/>

        <!-- Servicio detección conducción -->
        <service android:name=".services.DrivingDetector"
            android:enabled="true" />

        <receiver
            android:name=".session.KeepSignedInReceiver"
            android:exported="false" />

    </application>
</manifest>